@font-face {
  font-display: swap;
  font-family: "Neuton";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/neuton-v24-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/crimson-text-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/zalando-sans-v2-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v50-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif, serif;
}