@font-face {
  font-display: swap;
  font-family: "Neuton";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/neuton-v24-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/crimson-text-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Zalando Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/zalando-sans-v2-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v50-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v50-latin-regular.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif, serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-family: "Neuton", sans-serif, serif;
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
}

main {
  background-color: rgb(0, 0, 0, 0.1);
  flex: 1;
}

main > div:first-child {
  position: sticky;
  top: 4.7rem;
  background-color: rgb(0, 0, 0, 0.2);
}

main > div:first-child > div {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

h2 {
  font-family: "Crimson Text", sans-serif, serif;
  font-weight: 700;
  font-size: 2rem;
}

#addBtn {
  padding: 0 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #baaba4;
}

#addBtn:hover {
  background-color: #baaba4aa;
  border: 2px solid;
}

#addBtn:active {
  background-color: #77635a;
  border: none;
}

main > div:last-child {
  width: 80vw;
  margin: 1rem auto;
}

table {
  min-width: 70vw;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  font: 500 1.2rem "Zalando", sans-serif, serif;
  background-color: #cb9b90;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

td:nth-child(2) {
  font-family: "Roboto", sans-serif, serif;
  font-style: italic;
  font-weight: 300;
}

